.App-background {
    background-color: #1E88E5;
}
.container{
    display: grid;
    grid-template-columns: 150px 10fr 50px;
    grid-gap: 1rem;
    grid-auto-flow: row;
    align-items: center;
}
.headerButton{
    margin-right: 20px;
    font-size: small;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 50px;
}
.headerLogo{
    font-size: 30px;
    font-weight: bolder;
    margin-right: 20px;
}
.settingButton{
    font-size: small;
    float: right;
}
