
.memoryInputBox div input{
    height: 20px;
    width: 220px;
}
.memoryInputBox div{
    display: flex;
    align-items: center;
}
.memoryInputBox{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.memoryDropDownSelector{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.memoryDropDownSelector div{
    display: flex;
    align-items: center;
}
.memoryDropDownSelector2{
    display: flex;
    align-items: center;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.checkBoxColumn{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
